@font-face {
    font-family: 'Museo300';
    font-style: normal;
    font-weight: normal;
    src: local('Museo300'), url('../fonts/Museo300-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Museo500';
    font-style: normal;
    font-weight: normal;
    src: local('Museo500'), url('../fonts/Museo500.otf') format('otf');
}
@font-face {
    font-family: 'Museo700';
    font-style: normal;
    font-weight: normal;
    src: local('Museo700'), url('../fonts/Museo700.otf') format('otf');
}


body {
    min-height: 100vh;
    background-color: white;
}

p, h2, h3, label, input {
    color: #031033;
}

h2 {
    font-family: 'Open Sans';
    font-weight: bold !important;
    font-size: 25px !important;
}

h3 {
    font-family: 'Lora';
    font-size: 18px !important;
}

p, label, input {
    font-family: 'Museo300';
    font-weight: 300 !important;
    font-size: 13px !important;
}

a {
    font-family: 'Open Sans';
    font-size: 12px;
    color: #031033 !important;
    text-decoration: none !important;
    margin-left: 0;
    margin-top: 0.5rem;
}

a:hover {
    font-weight: bold !important;
}

.content {
    height: 100vh;
    width: auto;
    background-image: url('../img/Trace4499.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    padding-left: 7vw;
    padding-top: 2vh;
}

.logo {
    height: 8vh;
    width: auto;
    align-self: flex-start;
}

.for-center {
    margin-top: 6vh;
}

.para {
    width: 90vw;
}

.form-bloc {
    margin-top: 4vh;
}

.input-email {
    height: 30px;
    width: 80vw;
    border: 2px solid #22B14C;
    border-radius: 30px;
    background-color: white;
    padding-left: 2vw;    
}

.input-email:focus {
    box-shadow: 0 0 0 3px #94ebae;
    transition: 180ms box-shadow ease-in-out;
    border: 2px solid #22B14C;
    border-radius: 30px;
    background-color: white;
    outline: 2px solid transparent;
}

.btn-submit {
    height: 30px;
    width: 95px;
    margin-top: 1.5vh;
    align-self: flex-end !important;
    font-size: 11px;
    font-weight: bold;
    color: white;
    background-color: #22B14C;
    border: 0;
    border-radius: 25px;
    transition-property: border, background-color, color;
    transition: 180ms ease-in;
    outline: 2px solid transparent;
}

.btn-submit:hover:not(:disabled) {
    background-color: white;
    color: #22B14C;
    border: 2px solid #22B14C;
    transition-property: all;
    transition: 180ms ease-in-out;
}

.btn-submit:disabled {
    background-color: grey;
    transition: none;
    transition-property: none;
}

.btn-submit:focus {
    outline: 0;
    height: 45px;
    width: 101px;
}

.img-fade {
    position: absolute;
    height: 35vh;
    width: auto;
    bottom: 90px;
    left: 5vw;
}

.img-fade2 {
    position: absolute;
    width: auto;
    display: none;
}

.msg-box {
    position: absolute;
    /* display: none; */
    width: 90vw;
    top: -30px;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
}

.error-bg {
    background-color: rgba(253, 232, 232, 0.94);
    border: 2px solid #ED3B37;
}

.error-bg > p {
    color: #ED3B37;
    margin: 0;
}

.success-bg {
    background-color: rgba(212, 247, 223, 0.95);
    border: 2px solid #22B14C;
}

.success-bg > p {
    color: #22B14C;
    margin: 0;
}

.term {
    margin-top: 10px;
}

.small-text-infos {
    font-size: 13px !important;
    color: #577480;
    margin-bottom: 0 !important;
    margin-left: 0.5rem;
}

.bold {
    font-weight: bold !important;
}

@media screen and (min-width: 48em) {
    .img-fade {
        left: 3vw;
    }

    .img-fade2 {
        display: block;
        height: 27vh;
        right: 30px;
        top: 4vh;
    }

    h2, h3 {
        font-size: 30px !important;
    }

    p, label, input {
        font-size: 16px !important;
    }

    a {
        font-size: 14px;
        margin: 3rem;
    }

    .for-center {
        margin-top: 23vh;
    }

    .para {
        width: 50vw;
    }

    .input-email {
        height: 50px;
        width: 22.2vw;
        padding-left: 1vw;
    }

    .btn-submit {
        height: 50px;
        width: 106px;
        font-size: 12px;
        margin-left: 1vw;
        margin-top: 0;
    }

    .msg-box {
        width: 50vw;
        top: -180px;
    }

    .error-bg {
        background-color: #fde8e8;
    }

    .success-bg {
        background-color: #d4f7df;
    }

    .term {
        margin-top: 30px;
    }
}