{% extends 'recipe/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid mt-3 d-flex justify-content-center align-items-center">
    <div class="row db-box">
        <div class="col-12 col-sm-3 col-lg-3">
            <div class="border-box content-sign_in">
                <div class="d-flex justify-content-between align-items-center">
                    <h3>Groupes d'aliments</h3>
                    <button type="button" data-toggle="modal" data-target="#modalDeleteFoodGroup" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                </div>
                <small>Total: {{ food_group|length }}</small>
                <ul class="listing">
                    {% for f_group in food_group %}
                    <li><a href="/recipe/detail/group/{{ f_group.pk }}" class="link">{{ f_group }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-3 col-lg-3">
            <div class="border-box content-sign_in">
                <div class="d-flex justify-content-between align-items-center">
                    <h3>Aliments</h3>
                    <button type="button" data-toggle="modal" data-target="#modalDeleteFood" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                </div>
                <small>Total: {{ foods|length }}</small>
                <ul class="listing">
                    {% for food in foods %}
                    <li><a href="/recipe/detail/food/{{ food.pk }}" class="link">{{ food }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-3 col-lg-3">
            <div class="border-box content-sign_in">
                <div class="d-flex justify-content-between align-items-center">
                    <h3>Categories de recettes</h3>
                    <button type="button" data-toggle="modal" data-target="#modalDeleteRecipeCateg" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                </div>
                <small>Total: {{ recipe_categ|length }}</small>
                <ul class="listing">
                    {% for r_categ in recipe_categ %}
                    <li><a href="/recipe/detail/categorie/{{ r_categ.pk }}" class="link">{{ r_categ }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-3 col-lg-3">
            <div class="border-box content-sign_in">
                <div class="d-flex justify-content-between align-items-center">
                    <h3>Recettes 
                    </h3>
                    <button type="button" data-toggle="modal" data-target="#modalDeleteRecipe" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
                <small>Total: {{ recipes|length }}</small>
                <div class="d-flex justify-content-between align-items-center">
                    <small><i class="far fa-check-circle text-success" data-toggle="tooltip" data-placement="left" title="Recette validée"></i> : Recette validée</small>
                    <small><i class="far fa-times-circle text-danger" data-toggle="tooltip" data-placement="left" title="Recette NON validée"></i> : Recette Non validée</small>
                </div>
                <ul class="listing">
                    {% for recipe in recipes %}
                    <li>
                        <i class="fas fa-copy text-primary mr-2 btn-duplicate-recipe" data-toggle="tooltip" data-placement="left" title="Dupliquer la recette" data-id-recipe="{{ recipe.pk }}" id="duplicateRecipeBtn-{{ recipe.pk }}"></i>
                        {% if recipe.is_check %}
                        <i class="far fa-check-circle text-success" data-toggle="tooltip" data-placement="left" title="Recette validée"></i>
                        {% else %}
                        <i class="far fa-times-circle text-danger" data-toggle="tooltip" data-placement="right" title="Recette NON validée"></i>
                        {% endif %}
                        <a href="/recipe/detail/recipe/{{ recipe.pk }}" class="link">{{ recipe }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-3 col-lg-3 mt-3 mb-5">
            <div class="border-box content-sign_in">
                <div class="d-flex justify-content-between align-items-center">
                    <h3>Ustensiles de cuisine</h3>
                    <button type="button" data-toggle="modal" data-target="#modalDeleteUtensil" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                </div>
                <small>Total: {{ utensils|length }}</small>
                <ul class="listing">
                    {% for utensil in utensils %}
                    <li><a href="/recipe/detail/utensil/{{ utensil.pk }}" class="link">{{ utensil }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-3 col-lg-3 mt-3 mb-5">
            <div class="border-box content-sign_in">
                <div class="d-flex justify-content-between align-items-center">
                    <h3>Origine des recettes</h3>
                    <button type="button" data-toggle="modal" data-target="#modalDeleteOrigin" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                </div>
                <small>Total: {{ origin_recipes|length }}</small>
                <ul class="listing">
                    {% for origin in origin_recipes %}
                    <li><a href="/recipe/detail/origin/{{ origin.pk }}" class="link">{{ origin }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-3 col-lg-3 mt-3 mb-5">
            <div class="border-box content-sign_in">
                <div class="d-flex justify-content-between align-items-center">
                    <h3>Régimes alimentaire</h3>
                    <button type="button" data-toggle="modal" data-target="#modalDeleteDiet" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                </div>
                <small>Total: {{ diets|length }}</small>
                <ul class="listing">
                    {% for diet in diets %}
                    <li><a href="/recipe/detail/diet/{{ diet.pk }}" class="link">{{ diet }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-3 col-lg-3 mt-3 mb-5">
            <div class="border-box content-sign_in">
                <div class="d-flex justify-content-between align-items-center">
                    <h3>Plannings</h3>
                    {% if user.username == 'managerJR' %}
                        {% if plannings|length == 0 %}
                        <a class="btn btn-secondary disabled-a"><i class="fas fa-download text-white"></i></a>
                        {% else %}
                        <a href="{% url 'planning:download' %}" class="btn btn-success"><i class="fas fa-download text-white"></i></a>
                        {% endif %}
                    {% endif %}
                    <button type="button" data-toggle="modal" data-target="#modalDeletePlanning" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                </div>
                <small>Total: {{ plannings|length }}</small>
                <ul class="listing">
                    {% for planning in plannings %}
                    <li><a href="/planning/detail/planning/{{ planning.pk }}" class="link">{{ planning.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-3 col-lg-3 mb-5">
            <div class="border-box content-sign_in">
                <div class="d-flex justify-content-between align-items-center">
                    <h3>Rayon de magasin</h3>
                    <a href="{% url 'food:store_rack' %}" class="btn btn-success"><i class="fas fa-plus text-white"></i></a>
                    <button type="button" data-toggle="modal" data-target="#modalDeleteStoreRack" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                </div>
                <small>Total: {{ store_rack|length }}</small>
                <ul class="listing">
                    {% for rack in store_rack %}
                    <li><a href="/recipe/detail/store_rack/{{ rack.pk }}" class="link">{{ rack.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal delete store rack -->
<div class="modal fade" id="modalDeleteStoreRack" tabindex="-1" role="dialog" aria-labelledby="modalDeleteStoreRack" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteStoreRackTitle">Supprimer un rayon de magasin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="." method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="origin" class="col-sm-3 col-form-label text-center">Rayon</label>
                        <div class="col-sm-9">
                            {{ del_store_rack.rack }}
                        </div>
                            {{ del_store_rack.identifiant }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal delete planning -->
<div class="modal fade" id="modalDeletePlanning" tabindex="-1" role="dialog" aria-labelledby="modalDeletePlanning" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeletePlanningTitle">Supprimer un planning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="." method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="origin" class="col-sm-3 col-form-label text-center">Planning</label>
                        <div class="col-sm-9">
                            {{ del_planning.planning }}
                        </div>
                            {{ del_planning.identifiant }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal delete diet -->
<div class="modal fade" id="modalDeleteDiet" tabindex="-1" role="dialog" aria-labelledby="modalDeleteDiet" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteDietTitle">Supprimer un régime alimentaire</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="." method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="origin" class="col-sm-3 col-form-label text-center">Origine de recette</label>
                        <div class="col-sm-9">
                            {{ del_diet.diet }}
                        </div>
                            {{ del_diet.identifiant }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal delete origin recipe -->
<div class="modal fade" id="modalDeleteOrigin" tabindex="-1" role="dialog" aria-labelledby="modalDeleteOrigin" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteOriginTitle">Supprimer une origine de recette</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="." method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="origin" class="col-sm-3 col-form-label text-center">Origine de recette</label>
                        <div class="col-sm-9">
                            {{ del_origin.origin }}
                        </div>
                            {{ del_origin.identifiant }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal delete recipe -->
<div class="modal fade" id="modalDeleteRecipe" tabindex="-1" role="dialog" aria-labelledby="modalDeleteRecipe" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteRecipeTitle">Supprimer une recette</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="." method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="recipe" class="col-sm-3 col-form-label text-center">Recette</label>
                        <div class="col-sm-9">
                            {{ del_recipe.recipe }}
                        </div>
                            {{ del_recipe.identifiant }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal delete recipe categorie -->
<div class="modal fade" id="modalDeleteRecipeCateg" tabindex="-1" role="dialog" aria-labelledby="modalDeleteRecipeCateg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteRecipeCategTitle">Supprimer une categorie de recette</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="." method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="categorie" class="col-sm-3 col-form-label text-center">Categories de recette</label>
                        <div class="col-sm-9">
                            {{ del_categ.categ }}
                        </div>
                            {{ del_categ.identifiant }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal delete food -->
<div class="modal fade" id="modalDeleteFood" tabindex="-1" role="dialog" aria-labelledby="modalDeleteFood" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteFoodTitle">Supprimer un aliment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="." method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="food" class="col-sm-3 col-form-label text-center">Aliments</label>
                        <div class="col-sm-9">
                            {{ del_food.food }}
                        </div>
                            {{ del_food.identifiant }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal delete food group -->
<div class="modal fade" id="modalDeleteFoodGroup" tabindex="-1" role="dialog" aria-labelledby="modalDeleteFoodGroup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteFoodGroupTitle">Supprimer un groupe d'aliment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="." method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="group" class="col-sm-3 col-form-label text-center">Groupe de recette</label>
                        <div class="col-sm-9">
                            {{ del_group.group }}
                        </div>
                            {{ del_group.identifiant }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal delete utensil -->
<div class="modal fade" id="modalDeleteUtensil" tabindex="-1" role="dialog" aria-labelledby="modalDeleteUtensil" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteUtensilTitle">Supprimer un ustensil de cuisine</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="." method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="utensil" class="col-sm-3 col-form-label text-center">Ustensile de cuisine</label>
                        <div class="col-sm-9">
                            {{ del_utensil.utensil }}
                        </div>
                            {{ del_utensil.identifiant }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'user/js/secureajax.js' %}"></script>
<script src="{% static 'user/js/disabled-a.js' %}"></script>
<script src="{% static 'user/js/duplicateRecipe.js' %}"></script>
{% endblock script %}