{% extends 'recipe/base.html' %}
{% block content %}
<div class="container-fluid mt-3 d-flex justify-content-center align-items-center">
    <div class="row db-box">
        <div class="col-12 col-sm-3 col-lg-3">
            <div class="border-box content-sign_in">
                <h3>Groupes d'aliments <button type="button" data-toggle="modal" data-target="#modalDeleteFoodGroup" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></h3>
                <small>Total: {{ food_group|length }}</small>
                <ul class="listing">
                    {% for f_group in food_group %}
                    <li><a href="/recipe/detail/group/{{ f_group.pk }}" class="link">{{ f_group }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-3 col-lg-3">
            <div class="border-box content-sign_in">
                <h3>Aliments <button type="button" data-toggle="modal" data-target="#modalDeleteFood" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></h3>
                <small>Total: {{ foods|length }}</small>
                <ul class="listing">
                    {% for food in foods %}
                    <li><a href="/recipe/detail/food/{{ food.pk }}" class="link">{{ food }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-3 col-lg-3">
            <div class="border-box content-sign_in">
                <h3>Categories de recettes <button type="button" data-toggle="modal" data-target="#modalDeleteRecipeCateg" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></h3>
                <small>Total: {{ recipe_categ|length }}</small>
                <ul class="listing">
                    {% for r_categ in recipe_categ %}
                    <li><a href="/recipe/detail/categorie/{{ r_categ.pk }}" class="link">{{ r_categ }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-3 col-lg-3">
            <div class="border-box content-sign_in">
                <h3>Recettes 
                    <button type="button" data-toggle="modal" data-target="#modalDeleteRecipe" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </h3>
                <small>Total: {{ recipes|length }}</small>
                <ul class="listing">
                    {% for recipe in recipes %}
                    <li><a href="/recipe/detail/recipe/{{ recipe.pk }}" class="link">{{ recipe }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-3 col-lg-3 mt-3 mb-5">
            <div class="border-box content-sign_in">
                <h3>Ustensiles de cuisine <button type="button" data-toggle="modal" data-target="#modalDeleteUtensil" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></h3>
                <small>Total: {{ utensils|length }}</small>
                <ul class="listing">
                    {% for utensil in utensils %}
                    <li><a href="/recipe/detail/utensil/{{ utensil.pk }}" class="link">{{ utensil }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-3 col-lg-3 mt-3 mb-5">
            <div class="border-box content-sign_in">
                <h3>Origine des recettes <button type="button" data-toggle="modal" data-target="#modalDeleteOrigin" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></h3>
                <small>Total: {{ origin_recipes|length }}</small>
                <ul class="listing">
                    {% for origin in origin_recipes %}
                    <li><a href="/recipe/detail/origin/{{ origin.pk }}" class="link">{{ origin }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-3 col-lg-3 mt-3 mb-5">
            <div class="border-box content-sign_in">
                <h3>Régimes alimentaire <button type="button" data-toggle="modal" data-target="#modalDeleteDiet" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></h3>
                <small>Total: {{ diets|length }}</small>
                <ul class="listing">
                    {% for diet in diets %}
                    <li><a href="/recipe/detail/diet/{{ diet.pk }}" class="link">{{ diet }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal delete diet -->
<div class="modal fade" id="modalDeleteDiet" tabindex="-1" role="dialog" aria-labelledby="modalDeleteDiet" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteDietTitle">Supprimer un régime alimentaire</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="." method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="origin" class="col-sm-3 col-form-label text-center">Origine de recette</label>
                        <div class="col-sm-9">
                            {{ del_diet.diet }}
                        </div>
                            {{ del_diet.identifiant }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal delete origin recipe -->
<div class="modal fade" id="modalDeleteOrigin" tabindex="-1" role="dialog" aria-labelledby="modalDeleteOrigin" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteOriginTitle">Supprimer une origine de recette</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="." method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="origin" class="col-sm-3 col-form-label text-center">Origine de recette</label>
                        <div class="col-sm-9">
                            {{ del_origin.origin }}
                        </div>
                            {{ del_origin.identifiant }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal delete recipe -->
<div class="modal fade" id="modalDeleteRecipe" tabindex="-1" role="dialog" aria-labelledby="modalDeleteRecipe" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteRecipeTitle">Supprimer une recette</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="." method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="recipe" class="col-sm-3 col-form-label text-center">Recette</label>
                        <div class="col-sm-9">
                            {{ del_recipe.recipe }}
                        </div>
                            {{ del_recipe.identifiant }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal delete recipe categorie -->
<div class="modal fade" id="modalDeleteRecipeCateg" tabindex="-1" role="dialog" aria-labelledby="modalDeleteRecipeCateg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteRecipeCategTitle">Supprimer une categorie de recette</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="." method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="categorie" class="col-sm-3 col-form-label text-center">Categories de recette</label>
                        <div class="col-sm-9">
                            {{ del_categ.categ }}
                        </div>
                            {{ del_categ.identifiant }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal delete food -->
<div class="modal fade" id="modalDeleteFood" tabindex="-1" role="dialog" aria-labelledby="modalDeleteFood" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteFoodTitle">Supprimer un aliment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="." method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="food" class="col-sm-3 col-form-label text-center">Aliments</label>
                        <div class="col-sm-9">
                            {{ del_food.food }}
                        </div>
                            {{ del_food.identifiant }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal delete food group -->
<div class="modal fade" id="modalDeleteFoodGroup" tabindex="-1" role="dialog" aria-labelledby="modalDeleteFoodGroup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteFoodGroupTitle">Supprimer un groupe d'aliment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="." method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="group" class="col-sm-3 col-form-label text-center">Groupe de recette</label>
                        <div class="col-sm-9">
                            {{ del_group.group }}
                        </div>
                            {{ del_group.identifiant }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal delete utensil -->
<div class="modal fade" id="modalDeleteUtensil" tabindex="-1" role="dialog" aria-labelledby="modalDeleteUtensil" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteUtensilTitle">Supprimer un ustensil de cuisine</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="." method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="utensil" class="col-sm-3 col-form-label text-center">Ustensile de cuisine</label>
                        <div class="col-sm-9">
                            {{ del_utensil.utensil }}
                        </div>
                            {{ del_utensil.identifiant }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}