{% extends 'recipe/base.html' %}
{% load static %}
{% block form %}
<section class="my-5">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 col-lg-12 h-100">
                <div class="h-100 d-flex flex-column justify-content-center align-items-center">
                    <div class="border-box content-sign_in d-flex align-items-center">
                        <div class="login-forms margin-device">
                            <h1>Enregistrer un nouvel ustensile de cuisine</h1>
                            {% if form_uten.errors %}
                            <h3 class="text-danger"><strong>Une erreur est présente dans le formulaire</strong></h3>
                            {% endif %}
                            <form action="." method='post'>
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label for="nameUten" class="col-sm-4 col-form-label">{{ form_uten.name.label }}</label>
                                    <div class="col-sm-8">
                                        {{ form_uten.name }}
                                    </div>
                                </div>
                                {{ form_uten.identifiant }}
                                <div class="form-group">
                                    <button class="btn btn-danger float-right" type="submit">Valider le formulaire</button>
                                </div>
                            </form>
                        </div><!-- .login-forms -->
                    </div><!-- end .d-flex flex-sm-column... -->
                    <div class="border-box content-sign_in d-flex align-items-center mt-3">
                        <div class="login-forms margin-device">
                            <h1>Enregistrer une nouvelle catégorie de recette</h1>
                            {% if form_categ.errors %}
                            <h3 class="text-danger"><strong>Une erreur est présente dans le formulaire</strong></h3>
                            {% endif %}
                            <form action="." method='post'>
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">{{ form_categ.name.label }}</label>
                                    <div class="col-sm-8">
                                        {{ form_categ.name }}
                                    </div>
                                </div>
                                {{ form_categ.identifiant }}
                                <div class="form-group">
                                    <button class="btn btn-danger float-right" type="submit">Valider le formulaire</button>
                                </div>
                            </form>
                        </div><!-- .login-forms -->
                    </div><!-- end .d-flex flex-sm-column... -->
                    <div class="border-box content-sign_in d-flex align-items-center mt-3">
                        <div class="login-forms margin-device">
                            <h1>Enregistrer une nouvelle origine de recette</h1>
                            {% if form_origin_recipe.errors %}
                            <h3 class="text-danger"><strong>Une erreur est présente dans le formulaire</strong></h3>
                            {% endif %}
                            <form action="." method='post'>
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">{{ form_origin_recipe.name.label }}</label>
                                    <div class="col-sm-8">
                                        {{ form_origin_recipe.name }}
                                    </div>
                                </div>
                                {{ form_origin_recipe.identifiant }}
                                <div class="form-group">
                                    <button class="btn btn-danger float-right" type="submit">Valider le formulaire</button>
                                </div>
                            </form>
                        </div><!-- .login-forms -->
                    </div><!-- end .d-flex flex-sm-column... -->
                    <div class="border-box content-sign_in d-flex align-items-center mt-3">
                        <div class="login-forms margin-device">
                            <h1>Enregistrer un nouveau régime alimentaire</h1>
                            {% if form_diet.errors %}
                            <h3 class="text-danger"><strong>Une erreur est présente dans le formulaire</strong></h3>
                            {% endif %}
                            <form action="." method='post'>
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">{{ form_diet.name.label }}</label>
                                    <div class="col-sm-8">
                                        {{ form_diet.name }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">{{ form_diet.description.label }}</label>
                                    <div class="col-sm-8">
                                        {{ form_diet.description }}
                                    </div>
                                </div>
                                {{ form_diet.identifiant }}
                                <div class="form-group">
                                    <button class="btn btn-danger float-right" type="submit">Valider le formulaire</button>
                                </div>
                            </form>
                        </div><!-- .login-forms -->
                    </div><!-- end .d-flex flex-sm-column... -->
                    <div class="border-box content-sign_in d-flex align-items-center mt-3">
                        <div class="login-forms margin-device">
                            <h1>Enregistrer une nouvelle recette</h1>
                            <div>
                                {% if form_recipe.errors %}
                                <h3 class="text-danger"><strong>Une erreur est présente dans le formulaire</strong></h3>
                                {% endif %}
                                <form enctype="multipart/form-data" method="POST" id="formNewRecipe">
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">{{ form_recipe.name.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form_recipe.name }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">{{ form_recipe.portion.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form_recipe.portion }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">{{ form_recipe.preparation_time.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form_recipe.preparation_time }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">{{ form_recipe.cooking_time.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form_recipe.cooking_time }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">{{ form_recipe.level.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form_recipe.level }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">{{ form_recipe.price_scale.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form_recipe.price_scale }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">{{ form_recipe.source.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form_recipe.source }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">{{ form_recipe.typical_recipe_city.label }}
                                            <br>
                                            <small>(pas obligatoire)</small>
                                        </label>
                                        <div class="col-sm-8">
                                            {{ form_recipe.typical_recipe_city }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">{{ form_recipe.categorie.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form_recipe.categorie }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">{{ form_recipe.origin.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form_recipe.origin }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">{{ form_recipe.point.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form_recipe.point }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">{{ diet_field.label }}
                                            <br>
                                            <small>(sélection multiple avec la touche Shift ou Ctrl)</small>
                                        </label>
                                        <div class="col-sm-8">
                                            <select name="dietary_plan" required id="id_dietary_plan" multiple class="form-control">
                                                {% for diet in diet_field.diets %}
                                                <option value="{{ diet.0 }}">{{ diet.1 }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">{{ season_field.label }}
                                            <br>
                                            <small>(sélection multiple avec la touche Shift ou Ctrl)</small>
                                        </label>
                                        <div class="col-sm-8">
                                            <select name="season" required id="id_season" multiple class="form-control">
                                                {% for season in season_field.seasons %}
                                                <option value="{{ season.0 }}">{{ season.1 }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-form-label">
                                            <label class="col-form-label">Ustensiles nécessaire à la recette</label>
                                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#utensilModal">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="col-sm-8 food-col" id="contentUtensilCol">
                                            <table class="table table-bordered table-sm">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th scope="col">Nom</th>
                                                        <th scope="col">#</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="allUsedUtensils">
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 col-form-label">
                                            <label class="col-form-label">Ingrédients</label>
                                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#searchFoodModal">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="col-sm-8 food-col" id="contentFoodsCol">
                                            <table class="table table-bordered table-sm">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th scope="col">Nom</th>
                                                        <th scope="col">Quantité</th>
                                                        <th scope="col">Unité</th>
                                                        <th scope="col">#</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="allUsedFoods">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">{{ form_recipe.step.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form_recipe.step }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">{{ form_recipe.tip.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form_recipe.tip }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">{{ form_recipe.image.label }}
                                            <br>
                                            <small class="text-danger">
                                                <strong>L'image ne doit pas dépasser 5Mo !!!</strong></small>
                                        </label>
                                        <div class="col-sm-8">
                                            {{ form_recipe.image }}
                                        </div>
                                    </div>
                                    {{ form_recipe.identifiant }}
                                    <div class="form-group">
                                        <div class="alert alert-danger float-left my-d-none" role="alert" id="errorAlert">
                                            Le formulaire est incorrect ou incomplet !
                                            <br>
                                            <small>Merci de corriger les erreurs</small>
                                        </div>
                                        <div class="alert alert-success float-left my-d-none" role="alert" id="successAlert">
                                            Création de la nouvelle recette en cours...
                                        </div>
                                        <button class="btn btn-danger float-right" type="button" id="sendRecipeForm">Valider le formulaire</button>
                                    </div>
                                </form>
                                <div class="d-none" id="allFoods">
                                    {% for food in foods %}
                                    <p data-name="{{ food.name }}" data-id="{{ food.pk }}"></p>
                                    {% endfor %}
                                </div>
                                <div class="d-none" id="allUtensils">
                                    {% for utensil in utensils %}
                                    <p data-name="{{ utensil.name }}" data-id="{{ utensil.pk }}"></p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div><!-- .login-forms -->
                    </div><!-- end .d-flex flex-sm-column... -->
                </div><!-- end .h-100 d-flex... -->
            </div><!-- end .col-12 col-lg-12... -->
        </div><!-- end .row -->
    </div><!-- end .container-fluid -->
    <!-- Modal add utensils -->
    <div class="modal fade" id="utensilModal" tabindex="-1" aria-labelledby="utensilModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="utensilModal">Recherche d'ustensiles de cuisine</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="searchUtensil">
                                <i class="fas fa-search-plus"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Chercher un ustensile" aria-label="SearchUtensil" aria-describedby="searchUtensil" id="searchUtensilInput">
                    </div>
                    <div class="display-result form-group row" id="searchUtensilResult">
                        <div class="col-sm-4 d-flex-between">
                            <label for="utensilsResult">
                                Sélectionner un ou plusieurs ustensile(s) 
                                <small>
                                    (utiliser la touche Shift ou Ctrl pour faire une sélection multiple et 
                                    <strong class="text-info">cliquer sur le bouton bleu pour valider</strong> )
                                </small>
                            </label>
                            <button type="button" class="btn btn-info btn-valid-quantity" id="btnAddUtensil" disabled>Valider</button>
                        </div>
                        <div class="col-sm-8">
                            <select name="utensils" class="h-30vh" id="utensilsResult" multiple>
                                {% for utensil in utensils %}
                                <option value="{{ utensil.pk }}:{{ utensil.name }}">{{ utensil.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-4 mt-5">
                            <p>Ustensiles ajoutés</p>
                        </div>
                        <div class="col-sm-8 mt-5">
                            <table class="table table-bordered table-sm">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Nom</th>
                                        <th scope="col">#</th>
                                    </tr>
                                </thead>
                                <tbody class="my-d-none" id="selectedUtensils">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" id="btnUtensilClear">Tout effacer</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="btnValideSearchUtensil">Sauvegarder</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal search food -->
    <div class="modal fade" id="searchFoodModal" tabindex="-1" aria-labelledby="searchFoodModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="searchFoodModal">Recherche d'ingrédients</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="searchFood">
                                <i class="fas fa-search-plus"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Chercher un aliment" aria-label="SearchFood" aria-describedby="searchFood" id="searchInput">
                    </div>
                    <div class="display-result form-group row" id="searchResult">
                        <div class="col-sm-4 d-flex-between">
                            <label for="foodsResult">
                                Sélectionner un ou plusieurs ingrédients 
                                <small>
                                    (utiliser la touche Shift ou Ctrl pour faire une sélection multiple et 
                                    <strong class="text-info">cliquer sur le bouton bleu pour valider</strong> )
                                </small>
                            </label>
                            <button type="button" class="btn btn-info btn-valid-quantity" id="btnAddFood" disabled>Valider</button>
                        </div>
                        <div class="col-sm-8">
                            <select name="foods" class="h-30vh" id="foodsResult" multiple>
                            </select>
                        </div>
                        <div class="col-sm-4 mt-3 d-flex-between">
                            <label for="quantityFormBloc">
                                Quantité souhaitée 
                                <small>(la saisie sera possible une fois que vous aurez validé votre sélection via le bouton bleu)</small>
                                <small class="text-danger"> merci de séparer la quantité et l'unité par un point virgule. ';'</small>
                                <br/>
                                <br/>
                                exemple:
                                <br/> 
                                <strong class="text-success">500 ; g</strong>
                                <br/> 
                                <strong class="text-success">10 ; l</strong> <small>(litre)</small>
                                <br/> 
                                <strong class="text-success">3 ; u</strong> <small>(u = unité)</small>
                            </label>
                            <button class="btn btn-success btn-valid-quantity" id="btnValideFormQuantity" disabled>Valider</button>
                        </div>
                        <div class="col-sm-8 mt-3">
                            <div class="my-d-none" id="quantityFormBloc">

                            </div>
                        </div>
                        <div class="col-sm-4 mt-5">
                            <p>Ingédients ajoutés</p>
                        </div>
                        <div class="col-sm-8 mt-5">
                            <table class="table table-bordered table-sm">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Quantité</th>
                                        <th scope="col">Unité</th>
                                        <th scope="col">#</th>
                                    </tr>
                                </thead>
                                <tbody class="my-d-none" id="selectedFoods">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" id="btnClear">Tout effacer</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="btnValideSearch">Sauvegarder</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock form %}

{% block script %}
<script src="{% static 'user/js/secureajax.js' %}"></script>
<script src="{% static 'user/js/parsedRequestData.js' %}"></script>
<script src="{% static 'user/js/getFoodsTable.js' %}"></script>
<script src="{% static 'user/js/getUtensilsTable.js' %}"></script>
<script src="{% static 'user/js/sendFormRecipe.js' %}"></script>
<script src="{% static 'user/js/addUtensils.js' %}"></script>
<script src="{% static 'user/js/script.js' %}"></script>
{% endblock script %}