{% extends 'planning/base.html' %}
{% block content %}
<div class="container-fluid h-100vh d-flex justify-content-center align-items-center">
    <div class="row db-box">
        <div class="col-12 col-sm-3 col-lg-3">
            <div class="border-box content-sign_in">
                <h3>Groupes d'aliments</h3>
                <ul class="listing">
                    {% for f_group in food_group %}
                    <li>{{ f_group }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-3 col-lg-3">
            <div class="border-box content-sign_in">
                <h3>Aliments</h3>
                <ul class="listing">
                    {% for food in foods %}
                    <li>{{ food }}</li>
                    {% endfor %}
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-3 col-lg-3">
            <div class="border-box content-sign_in">
                <h3>Categories de recettes</h3>
                <ul class="listing">
                    {% for r_categ in recipe_categ %}
                    <li>{{ r_categ }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-3 col-lg-3">
            <div class="border-box content-sign_in">
                <h3>Recettes</h3>
                <ul class="listing">
                    {% for recipe in recipes %}
                    <li>{{ recipe }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}