{% extends 'recipe/base.html' %}
{% load static %}
{% block form %}

<section class="pb-5">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 col-lg-12 h-100">
                <div class="h-100 d-flex flex-column justify-content-center align-items-center">
                    <div class="border-box in-front shadow-planning content-sign_in d-flex align-items-center mt-5">
                        <div class="new-planning margin-device">
                            <h1>Enregistrer un nouveau planning de recette</h1>
                            {% if form_planning.errors %}
                            <h3 class="text-danger"><strong>Une erreur est présente dans le formulaire</strong></h3>
                            {% endif %}
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        {% for day in week %}
                                        <th scope="col">{{ day.name }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for mlp in meals_per_day %}
                                    <tr>
                                        <th scope="row">{{ mlp.name }}</th>
                                        {% for day in week %}
                                        <td id="{{ day.id }}-{{ mlp.pk }}">
                                            <div class="d-flex justify-content-end mb-2">
                                                <i class="fas fa-plus text-success add-recipe-btn i-btn-add" data-day="{{ day.name }}&{{ day.id }}" data-mlp="{{ mlp.name }}&{{ mlp.pk }}"></i>
                                                <!-- <a href="#" class="fas fa-trash-alt text-danger"></a> -->
                                            </div>
                                            <!-- <div class="d-flex justify-content-center align-items-center recipe-bloc">
                                                <p class="title-recipe">Titre de recette</p>
                                                <i class="fas fa-trash-alt text-danger ml-2 i-btn-trash"></i>
                                            </div>
                                            <div class="d-flex justify-content-center align-items-center recipe-bloc">
                                                <p class="title-recipe">Titre de recette</p>
                                                <i class="fas fa-trash-alt text-danger ml-2 i-btn-trash"></i>
                                            </div>
                                            <div class="d-flex justify-content-center align-items-center recipe-bloc">
                                                <p class="title-recipe">Titre de recette</p>
                                                <i class="fas fa-trash-alt text-danger ml-2 i-btn-trash"></i>
                                            </div> -->
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="select-recipe-box content-sign_in in-back mb-5" style="display: none !important;" id="searchRecipeBloc" data-is-display='false'>
                        <h4>Choisir une recette pour le <i class="text-info" id="daySearchTitle"></i> - <i class="text-info" id="mealSearchTitle"></i></h4>
                        <div class="">
                            <p class="">Votre sélection:</p>
                            <div class="d-flex justify-content-between align-items-center recipe-choiced-bloc" id="recipesChoiced">
                            </div>
                        </div>
                        <div class="d-flex mt-4 justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="Categories">Categories</label>
                                    </div>
                                    <select class="custom-select" id="categorieFilter">
                                        <option value="" selected>Choisissez...</option>
                                        {% for categ in categs %}
                                        <option value="{{ categ.pk }}">{{ categ.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="input-group mx-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="originFilter">Origine</label>
                                    </div>
                                    <select class="custom-select" id="originFilter">
                                        <option value="" selected>Choisissez...</option>
                                        {% for origin in origins %}
                                        <option value="{{ origin.pk }}">{{ origin.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="dietFilter">Régimes</label>
                                    </div>
                                    <select class="custom-select" id="dietFilter">
                                        <option value="" selected>Choisissez...</option>
                                        {% for diet in diets %}
                                        <option value="{{ diet.pk }}">{{ diet.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="input-group mx-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="Saison">Saison</label>
                                    </div>
                                    <select class="custom-select" id="seasonFilter">
                                        <option value="" selected>Choisissez...</option>
                                        {% for season in seasons %}
                                        <option value="{{ season.pk }}">{{ season.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="mr-3">
                                <button class="btn btn-success" id="valideFilter"><i class="fas fa-check"></i></button>
                            </div>
                            <div>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="inputSearchRecipe" placeholder="Chercher une recette" aria-label="recherche de recette" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button type="button" class="input-group-text btn-secondary" id="basic-addon2"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid mt-5 pt-3 scrollable-section">
                            <div class="row" id="displayRecipeBloc">
                                {% for recipe in recipes %}
                                <div class="col-12 col-lg-3 mb-3" id="recipeNumber-{{ recipe.pk }}">
                                    <div class="content-card-recipe">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="lead">{{ recipe.name }}</p>
                                            <div class="checkbox-small">
                                                <input type="checkbox" name="seleceted" id="checkRecipe-{{ recipe.pk }}">
                                            </div>
                                        </div>
                                        <div class="d-flex mt-2">
                                            <div class="image-bloc">
                                                <img src="{{ recipe.image.url }}" alt="image of the recipe" class="img-fluid">
                                            </div>
                                            <div class="data-recipe">
                                                <p>{{ recipe.categorie.name }}</p>
                                                <hr class="hr-data-recipe">
                                                <p>{% for season in recipe.season.all %}{{ season.name }}, {% endfor %}</p>
                                                <hr class="hr-data-recipe">
                                                <p>{% for diet in recipe.dietary_plan.all %}{{ diet.name }}, {% endfor %}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="col-12 col-lg-3 mb-3" id="recipeNumber-2">
                                    <div class="content-card-recipe">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="lead">Title recipe</p>
                                            <div class="checkbox-small">
                                                <input type="checkbox" name="seleceted" id="checkRecipe">
                                            </div>
                                        </div>
                                        <div class="d-flex mt-2">
                                            <div class="image-bloc">
                                            </div>
                                            <div class="data-recipe">
                                                <p>categorie</p>
                                                <p>saison</p>
                                                <p>regime alimentaire</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3 mb-3" id="recipeNumber-3">
                                    <div class="content-card-recipe">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="lead">Title recipe 2</p>
                                            <div class="checkbox-small">
                                                <input type="checkbox" name="seleceted" id="checkRecipe">
                                            </div>
                                        </div>
                                        <div class="d-flex mt-2">
                                            <div class="image-bloc">
                                            </div>
                                            <div class="data-recipe">
                                                <p>categorie</p>
                                                <p>saison</p>
                                                <p>regime alimentaire</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3 mb-3" id="recipeNumber-4">
                                    <div class="content-card-recipe">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="lead">Title recipe 3</p>
                                            <div class="checkbox-small">
                                                <input type="checkbox" name="seleceted" id="checkRecipe">
                                            </div>
                                        </div>
                                        <div class="d-flex mt-2">
                                            <div class="image-bloc">
                                            </div>
                                            <div class="data-recipe">
                                                <p>categorie</p>
                                                <p>saison</p>
                                                <p>regime alimentaire</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3 mb-3" id="recipeNumber-5">
                                    <div class="content-card-recipe">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="lead">Title recipe 4</p>
                                            <div class="checkbox-small">
                                                <input type="checkbox" name="seleceted" id="checkRecipe">
                                            </div>
                                        </div>
                                        <div class="d-flex mt-2">
                                            <div class="image-bloc">
                                            </div>
                                            <div class="data-recipe">
                                                <p>categorie</p>
                                                <p>saison</p>
                                                <p>regime alimentaire</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3 mb-3" id="recipeNumber-6">
                                    <div class="content-card-recipe">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="lead">Title recipe 5</p>
                                            <div class="checkbox-small">
                                                <input type="checkbox" name="seleceted" id="checkRecipe">
                                            </div>
                                        </div>
                                        <div class="d-flex ">
                                            <div class="image-bloc">
                                            </div>
                                            <div class="data-recipe">
                                                <p>categorie</p>
                                                <p>saison</p>
                                                <p>regime alimentaire</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3 mb-3" id="recipeNumber-7">
                                    <div class="content-card-recipe">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="lead">Title recipe 6</p>
                                            <div class="checkbox-small">
                                                <input type="checkbox" name="seleceted" id="checkRecipe">
                                            </div>
                                        </div>
                                        <div class="d-flex ">
                                            <div class="image-bloc">
                                            </div>
                                            <div class="data-recipe">
                                                <p>categorie</p>
                                                <p>saison</p>
                                                <p>regime alimentaire</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3 mb-3" id="recipeNumber-8">
                                    <div class="content-card-recipe">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="lead">Title recipe 7</p>
                                            <div class="checkbox-small">
                                                <input type="checkbox" name="seleceted" id="checkRecipe">
                                            </div>
                                        </div>
                                        <div class="d-flex ">
                                            <div class="image-bloc">
                                            </div>
                                            <div class="data-recipe">
                                                <p>categorie</p>
                                                <p>saison</p>
                                                <p>regime alimentaire</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3 mb-3" id="recipeNumber-9">
                                    <div class="content-card-recipe">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="lead">Title recipe 8</p>
                                            <div class="checkbox-small">
                                                <input type="checkbox" name="seleceted" id="checkRecipe">
                                            </div>
                                        </div>
                                        <div class="d-flex ">
                                            <div class="image-bloc">
                                            </div>
                                            <div class="data-recipe">
                                                <p>categorie</p>
                                                <p>saison</p>
                                                <p>regime alimentaire</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3 mb-3" id="recipeNumber-10">
                                    <div class="content-card-recipe">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="lead">Title recipe 9</p>
                                            <div class="checkbox-small">
                                                <input type="checkbox" name="seleceted" id="checkRecipe">
                                            </div>
                                        </div>
                                        <div class="d-flex ">
                                            <div class="image-bloc">
                                            </div>
                                            <div class="data-recipe">
                                                <p>categorie</p>
                                                <p>saison</p>
                                                <p>regime alimentaire</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3 mb-3" id="recipeNumber-11">
                                    <div class="content-card-recipe">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="lead">Title recipe 10</p>
                                            <div class="checkbox-small">
                                                <input type="checkbox" name="seleceted" id="checkRecipe">
                                            </div>
                                        </div>
                                        <div class="d-flex ">
                                            <div class="image-bloc">
                                            </div>
                                            <div class="data-recipe">
                                                <p>categorie</p>
                                                <p>saison</p>
                                                <p>regime alimentaire</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3 mb-3" id="recipeNumber-12">
                                    <div class="content-card-recipe">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="lead">Title recipe 11</p>
                                            <div class="checkbox-small">
                                                <input type="checkbox" name="seleceted" id="checkRecipe">
                                            </div>
                                        </div>
                                        <div class="d-flex ">
                                            <div class="image-bloc">
                                            </div>
                                            <div class="data-recipe">
                                                <p>categorie</p>
                                                <p>saison</p>
                                                <p>regime alimentaire</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3 mb-3" id="recipeNumber-13">
                                    <div class="content-card-recipe">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="lead">Title recipe 12</p>
                                            <div class="checkbox-small">
                                                <input type="checkbox" name="seleceted" id="checkRecipe">
                                            </div>
                                        </div>
                                        <div class="d-flex ">
                                            <div class="image-bloc">
                                            </div>
                                            <div class="data-recipe">
                                                <p>categorie</p>
                                                <p>saison</p>
                                                <p>regime alimentaire</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3 mb-3" id="recipeNumber-14">
                                    <div class="content-card-recipe">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="lead">Title recipe 13</p>
                                            <div class="checkbox-small">
                                                <input type="checkbox" name="seleceted" id="checkRecipe">
                                            </div>
                                        </div>
                                        <div class="d-flex ">
                                            <div class="image-bloc">
                                            </div>
                                            <div class="data-recipe">
                                                <p>categorie</p>
                                                <p>saison</p>
                                                <p>regime alimentaire</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3 mb-3" id="recipeNumber-15">
                                    <div class="content-card-recipe">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="lead">Title recipe 14</p>
                                            <div class="checkbox-small">
                                                <input type="checkbox" name="seleceted" id="checkRecipe">
                                            </div>
                                        </div>
                                        <div class="d-flex ">
                                            <div class="image-bloc">
                                            </div>
                                            <div class="data-recipe">
                                                <p>categorie</p>
                                                <p>saison</p>
                                                <p>regime alimentaire</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3 mb-3" id="recipeNumber-16">
                                    <div class="content-card-recipe">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="lead">Title recipe 15</p>
                                            <div class="checkbox-small">
                                                <input type="checkbox" name="seleceted" id="checkRecipe">
                                            </div>
                                        </div>
                                        <div class="d-flex ">
                                            <div class="image-bloc">
                                            </div>
                                            <div class="data-recipe">
                                                <p>categorie</p>
                                                <p>saison</p>
                                                <p>regime alimentaire</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3 mb-3" id="recipeNumber-17">
                                    <div class="content-card-recipe">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="lead">Title recipe 16</p>
                                            <div class="checkbox-small">
                                                <input type="checkbox" name="seleceted" id="checkRecipe">
                                            </div>
                                        </div>
                                        <div class="d-flex ">
                                            <div class="image-bloc">
                                            </div>
                                            <div class="data-recipe">
                                                <p>categorie</p>
                                                <p>saison</p>
                                                <p>regime alimentaire</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3 mb-3" id="recipeNumber-18">
                                    <div class="content-card-recipe">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="lead">Title recipe 17</p>
                                            <div class="checkbox-small">
                                                <input type="checkbox" name="seleceted" id="checkRecipe">
                                            </div>
                                        </div>
                                        <div class="d-flex ">
                                            <div class="image-bloc">
                                            </div>
                                            <div class="data-recipe">
                                                <p>categorie</p>
                                                <p>saison</p>
                                                <p>regime alimentaire</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <i class="fas fa-chevron-up hiden-bloc-search" id="chevronTop"></i>
                            <button class="btn btn-success" id="valideChoice">Valider la sélection</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock form %}
{% block script %}
<style>body {
    height: 100vh;
    scroll-behavior: smooth;
}</style>
<script src="{% static 'user/js/secureajax.js' %}"></script>
<script src="{% static 'user/js/script.js' %}"></script>
<script src="{% static 'planning/js/newPlanning.js' %}"></script>
{% endblock script %}