{% extends 'planning/base.html' %}
{% block form %}
<section class="my-5">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 col-lg-12 h-100">
                <div class="h-100 d-flex flex-column justify-content-center align-items-center">
                    <div class="border-box content-sign_in d-flex align-items-center">
                        <div class="login-forms margin-device">
                            <h1>Enregistrer un nouvel ustensile de cuisine</h1>
                            {% if form_uten.errors %}
                            <h3 class="text-danger"><strong>Une erreur est présente dans le formulaire</strong></h3>
                            {% endif %}
                            <form action="." method='post'>
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label for="nameUten" class="col-sm-4 col-form-label">{{ form_uten.name.label }}</label>
                                    <div class="col-sm-8">
                                        {{ form_uten.name }}
                                    </div>
                                </div>
                                {{ form_uten.identifiant }}
                                <div class="form-group">
                                    <button class="btn btn-danger float-right" type="submit">Valider le formulaire</button>
                                </div>
                            </form>
                        </div><!-- .login-forms -->
                    </div><!-- end .d-flex flex-sm-column... -->
                    <div class="border-box content-sign_in d-flex align-items-center mt-3">
                        <div class="login-forms margin-device">
                            <h1>Enregistrer une nouvelle catégorie de recette</h1>
                            {% if form_categ.errors %}
                            <h3 class="text-danger"><strong>Une erreur est présente dans le formulaire</strong></h3>
                            {% endif %}
                            <form action="." method='post'>
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">{{ form_categ.name.label }}</label>
                                    <div class="col-sm-8">
                                        {{ form_categ.name }}
                                    </div>
                                </div>
                                {{ form_categ.identifiant }}
                                <div class="form-group">
                                    <button class="btn btn-danger float-right" type="submit">Valider le formulaire</button>
                                </div>
                            </form>
                        </div><!-- .login-forms -->
                    </div><!-- end .d-flex flex-sm-column... -->
                    <div class="border-box content-sign_in d-flex align-items-center mt-3">
                        <div class="login-forms margin-device">
                            <h1>Enregistrer une nouvelle recette</h1>
                            <div class="form-one">
                                <h3 class="text-info">Commencer par remplir et valider ce formulaire !!!</h3>
                                {% if form_food_quantity.errors %}
                                <h3 class="text-danger"><strong>Une erreur est présente dans le formulaire</strong></h3>
                                {% endif %}
                                <form action="." method='post'>
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">{{ form_food_quantity.quantity.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form_food_quantity.quantity }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">{{ form_food_quantity.food.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form_food_quantity.food }}
                                        </div>
                                    </div>
                                    {{ form_food_quantity.identifiant }}
                                    <div class="form-group">
                                        <button class="btn btn-danger float-right" type="submit">Valider le formulaire</button>
                                    </div>
                                </form>
                            </div>
                            <hr>
                            <div class="">
                                {% if form_recipe.errors %}
                                <h3 class="text-danger"><strong>Une erreur est présente dans le formulaire</strong></h3>
                                {% endif %}
                                <form action="." method='post'>
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">{{ form_recipe.name.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form_recipe.name }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">{{ form_recipe.prepare_duration.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form_recipe.prepare_duration }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">{{ form_recipe.cooking_time.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form_recipe.cooking_time }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">{{ form_recipe.step.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form_recipe.step }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">{{ form_recipe.food_quantity.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form_recipe.food_quantity }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">{{ form_recipe.categorie.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form_recipe.categorie }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">{{ form_recipe.price_scale.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form_recipe.price_scale }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">{{ form_recipe.level.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form_recipe.level }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">{{ form_recipe.utensil.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form_recipe.utensil }}
                                        </div>
                                    </div>
                                    {{ form_recipe.identifiant }}
                                    <div class="form-group">
                                        <button class="btn btn-danger float-right" type="submit">Valider le formulaire</button>
                                    </div>
                                </form>
                            </div>
                        </div><!-- .login-forms -->
                    </div><!-- end .d-flex flex-sm-column... -->
                </div><!-- end .h-100 d-flex... -->
            </div><!-- end .col-12 col-lg-12... -->
        </div><!-- end .row -->
    </div><!-- end .container-fluid -->
</section>
{% endblock form %}

{% block script %}
<script>
    $("input").addClass('form-control');
    $("textarea").addClass('form-control');
    $("select").addClass('form-control');
</script>
{% endblock script %}