body {
    background-image: linear-gradient(to bottom, #ffbf00, #ff4000);
}

.h-100vh {
    height: calc(100vh - 40px);
}

.border-box {
    border: 0px solid;
    border-radius: 30px;
}

.content-sign_in {
    background-color: white;
    padding: 20px;
}

.login-forms {
    width: 55rem;
}

.db-box {
    width: 100%;
}

.listing {
    overflow: auto;
    height: calc(100vh - 25vh);
}

hr {
    margin-top: 5rem !important;
    margin-bottom: 2rem !important;
    border-top: 3px solid #17a2b8 !important;
}

.border-label {
    /* border-top: 2px solid #17a2b8; */
    border-right: 2px solid #17a2b8;
    /* border-left: 2px solid #17a2b8; */
}

.scrollable {
    overflow: auto;
}

.food-col {
    justify-content: space-between;
    overflow-x: auto;
    padding-bottom: 0.5vh;
    padding-right: 10px;
}

.display-result {
    margin-top: 2vh;
}

.h-30vh {
    height: 30vh !important;
}

.d-flex-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-valid-quantity {
    width: 50%;
    align-self: flex-end;
}

.my-d-none {
    display: none;
}

.btn-bloc-edit {
    width: 20%;
}

#imgBloc {
    height: 10rem;
    width: 10rem;
    margin: auto;
}

.new-planning {
    width: 70vw;
}

.in-front {
    position: relative;
    z-index: 2;
}

.in-back {
    position: relative;
    z-index: 1;
}

.shadow-planning {
    box-shadow: 0px 10px 12px rgb(170, 170, 170);
}

.select-recipe-box {
    height: 40vh;
    width: 70vw;
    border: 0px solid;
    border-radius: 0px 0px 30px 30px;
}