body {
    background-image: linear-gradient(to bottom, #ffbf00, #ff4000);
}

.h-100vh {
    height: calc(100vh - 40px);
}

.border-box {
    border: 0px solid;
    border-radius: 30px;
}

.content-sign_in {
    background-color: white;
    padding: 20px;
}

.login-forms {
    width: 700px;
}

.db-box {
    width: 100%;
}

.listing {
    overflow: auto;
    height: calc(100vh - 25vh);
}

hr {
    margin-top: 5rem !important;
    margin-bottom: 2rem !important;
    border-top: 3px solid #17a2b8 !important;
}