{% extends 'recipe/base.html' %}
{% block content %}
<div class="container-fluid h-100vh">
    <div class="row h-100">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="text-center">
                <h1 class="mb-5">Que voulez-vous faire ?</h3>
                <div class="d-flex justify-content-center align-items-center">
                    <a href="{% url 'recipe:databases' %}" class="btn btn-warning mr-5">Consulter la base de données</a>
                    <a href="{% url 'recipe:new_recipe' %}" class="btn btn-danger">Ajouter des recettes</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}