{% extends 'planning/base.html' %}
{% block content %}
<div class="container-fluid task-btn">
    <div class="row h-100">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="text-center">
                <h1 class="mb-5">Que voulez-vous faire ?</h3>
                <div class="d-flex justify-content-center align-items-center">
                    <a href="{% url 'food:new_food' %}" class="btn btn-warning mr-5">Ajouter des aliments</a>
                    <a href="{% url 'planning:new_recipe' %}" class="btn btn-danger">Ajouter des recettes</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}